.about-wrapper.container
  .about-title.row
    .col.s12
      h3.center-align WDI Conf: the place to be
    .about-body.col.s12
      p.flow-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .about-quote.col.l6.m6.s12
      blockquote.flow-text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      p.flow-text.right-align - Joe Shmoe
    .about-location.col.l6.m6.s12
      #location-map
        p.flow-text Map

script.
  function initMap() {
  var uluru = {lat: -25.363, lng: 131.044};
  var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 4,
  center: uluru
  });
  var marker = new google.maps.Marker({
  position: uluru,
  map: map
  });
  }
script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCIamQbXXBDpNswS7aBs3MhPx-MApcojfA&callback=initMap')
