.container
  .about-wrapper
    .about-title.row
      .col.s12
        h3.center-align.headers WDC#09: The place to be
      .about-body.col.s12
        p Where do the movers and shakers of the IT industry think it is heading? In an ever changing environment, what's next? Hear from sucessful startup CEOs about their journey. New this year, we are introducing a mentorship program to hook people up.
      .about-quote.col.l6.m6.s12
        blockquote.flow-text "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        p.flow-text.right-align - Joe Shmoe
      .about-location.col.l6.m6.s12
        #location-map
          p.flow-text Map
