.container.valign-wrapper
  .about-wrapper.valign
    .about-title.row
      .col.s12
        h3.center-align.headers WDC#09: Where code collides...
      .about-body.col.s12
        p Where do the movers and shakers of the tech industry think it is heading? In an ever changing environment, what's next? Hear from sucessful startup CEOs about their journey. New this year, we are introducing a mentorship program to hook people up.
      .about-quote.col.l6.m6.s12
        blockquote.flow-text "The best way to predict the future is to invent it."
        p.flow-text.right-align - Alan Kay
        blockquote.flow-text "Computing is too important for women to not get involved.”
        p.flow-text.right-align - Karen Sparck Jones
      .about-location.col.l6.m6.s12.center-align
        h5.flow-text Location: 12a/45 William St
        #map
