
div.contact
  p.email.l4.m4.s1
    i.large.material-icons email
    | info@ga.co
  p.address.l4.m4.s1
    i.large.material-icons info_outline
    | 45 William Street Melbourne 3000
  p.social.l4.m4.s1
    i.large.material-icons group
    i.large.material-icons hottub
    i.large.material-icons chat
