div.contact.row.color4
  div.email.col.l4.m4.s12.valign-wrapper
    i.material-icons email
    | info@ga.co
  div.address.col.l4.m4.s12.valign-wrapper
    i.material-icons info_outline
    | 45 William Street Melbourne
  div.social.col.l1.m1.s4.valign-wrapper.offset-l1
    img.fb(src="images/twitter_logo.png")
  div.social.col.l1.m1.s4.valign-wrapper
    img.fb(src="images/fb_logo.png")
  div.social.col.l1.m1.s4.valign-wrapper
    img.fb(src="images/insta_logo.png")
