div.slider
  div.row.header
    div.col.s12
      img(src="images/UMBCconference.jpg")
      div.caption.center-align
        h2 WDI Conference
        h5.light.grey-text.text-lighten-3  ...where code collides
