div.header-wrapper.slider
  ul.header.slides
    li
      img(src="images/UMBCconference.jpg")
      div.caption.center-align
        h3.title WDI Conference
        h5.tagline.text-lighten-3 ...where codes collide
