img(src="images/wdi9.png" class="logo-large hidden hide-on-small-only")
img(src="images/mobilelogo.png" class="logo-small hidden hide-on-med-and-up")
.parallax-container
  .parallax
    img(src="images/UMBCconference3.jpg" class="bwphoto")
