div.header-wrapper.slider
  ul.header.slides
    li
      img(src="images/UMBCconference1.jpg")
      div.caption.center-align
        h2.title WDI Conference
        h3.tagline.text-lighten-3 ...where codes collide
