div.intro-wrapper
  div.the-conf.pink.lighten-3
    div.row
      div.col.s12.grey-text.text-darken-1.center-align
        p.flow-text Join us to hear the leaders and thought provocateurs of the IT industry
  div.intro-head.pink.lighten-4
    div.row
      div.col.s12.center-align
        h2 Sponsors
    div.row.center-align
      div.col.l3.m6.s12.logo
        img.ga(src="images/ga_logo.png")
      div.col.l3.m6.s12.logo
        img.ga(src="images/slack_logo.png")
      div.col.l3.m6.s12.logo
        img.ga(src="images/trello_logo.png")
      div.col.l3.m6.s12.logo
        img.ga(src="images/github_logo.png")
