div.parallax-container
  div.parallax
    img(src="images/img8.jpg")
  div.section.white
    div.row.container
      h2.header WDI Conf
      p.grey-text.text-darken-3.lighten-3 |Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling
  div.parallax-container
    div.parallax
      img(src="images/conference.jpg")
