div.intro-wrapper
  div.the-conf.amber.accent-3.blue-text
    div.row
      div.col.s12.white-text.center-align
        p.flow-text Join us to hear the leaders and thought provocateurs of the IT industry
