div.intro-wrapper
  div.the-conf.pink.lighten-3
    div.row
      div.col.s12.grey-text.text-darken-1.center-align
        h4 Join us to hear where the leaders and thought provocateurs of the IT industry think it is heading. Hear from sucessful startup CEOs about their journey. New this year, we are introducing a mentorship programme to hook people up.
  div.intro-head.pink.lighten-4
    div.row
      div.col.s12
        h2 Sponsors
    div.row.center.align
      div.col.s4
        h3 GA
      div.col.s4
        h3 IBM
      div.col.s4
        h3 TLA
