div.container-login.row
  div.col.s12.m10.l6.login-block
    h2 Already Registered?
    form(method="post", action="/login")
      if login_error
        div.form-group
          p= login_error
      div.form-group
        label(for='login-email') Email:
        input#login-email.form-control(type='email', placeholder='name@email.com' name='email' value=email)
      div.form-group
        label(for='login-password') Password:
        input#login-password.form-control(type='password' name='password')
      button.btn.orange-text.btn-flat(type='submit') Log In
