div.container-login.row
  div.col.l1.m1
  div.col.s12.m10.l6
    h2 Already registered?
    form(method="post", action="/login")
      div.form-group
        label(for='login-email') Email:
        input#login-email.form-control(type='email', placeholder='name@email.com' name='email')
      div.form-group
        label(for='login-password') Password:
        input#login-password.form-control(type='password' name='password')
      button.btn.orange-text.btn-flat(type='submit') Log In
