div.container
  h2 Already registered?
  form(method="post", action="/login")
    div.form-group
      label(for='login-name') Name:
      input#login-name.form-control(type='text', placeholder='First name/last name' name='name')
    div.form-group
      label(for='login-email') Email:
      input#login-email.form-control(type='email', placeholder='name@email.com' name='email')
    button.btn.btn-primary(type='submit') Log In
