div.mentorship-wrapper.deep-purple.lighten-4
  div.ment-head
    div.row
      div.col.m12.l12.s12.deep-purple.darken-3.center-align
        h1.white-text Mentorship program
    div.row
      div.col.m12.s12.l12
        h4.ment-blurb.center-align.black-text We are excited to announce the launch of the WDI-Conf mentorship program
        h5.ment-blurb.center-align.grey-text.text-darken-2 Have you ever wanted to find a mentor but didn't know where to look?
        h5.ment-blurb.center-align.grey-text.text-darken-2 Are you looking for a mentor in the industry but outside your workplace?
        h5.ment-blurb.center-align.grey-text.text-darken-2 Are you excited about coding, do you want to pass it on?
        h5.ment-blurb.center-align.grey-text.text-darken-2 Has this industry been good to you, do you want to help and encourage the new kids on the block?
        h5.ment-blurb.center-align Just sign up for the program when you register!

  ul.ment-menu.collapsible.popout(data-collapsible="accordion")
    li
      div.deep-purple.lighten-3.collapsible-header Nominate mentor type
        i.material-icons grade
      div.collapsible-body
        ul.ment-type Decide what type of mentor relationship suits you best :-
          li
            span.mentor Mentor
            | - you've been in the biz a while, you are looking to encourage new people into the industry and like to help
          li
            span.mentor Peer
            | - you're looking for a mentor, or maybe just someone to bounce ideas off, you feel like you have something to offer others
          li
            span.mentor Mentee
            | - you're a newbie, looking for advice, the benefit of experience
    li
      div.deep-purple.lighten-2.collapsible-header Get contacts
        i.material-icons grade
      div.collapsible-body
        p Just before the conference we will send you a list of 5 specially selected people who have been matched to your requirements
    li
      div.deep-purple.lighten-1.collapsible-header Hook up
        i.material-icons grade
      div.collapsible-body
        p You can send a message to anyone on your list or  find them in person, chat and if you gell, keep in touch. There is no committement, if the vibe isn't right, just walk away! Initial messaging will be via the website, all contact details will remain confidential.
    li
      div.deep-purple.collapsible-header What next?
        i.material-icons grade
      div.collapsible-body
        p Meet for coffee.... it's nice if the Mentee pays
