nav
  div.nav-wrapper
    img.brand-logo(src="images/logo1.svg" width="230px")
    ul(id="nav-mobile" class="right")
      li(data-menuanchor="about")
        a(href="#about") About
      li(data-menuanchor="speaker")
        a(href="#speakers") Speakers
      li(data-menuanchor="program")
        a(href="#program") Program
      li(data-menuanchor="mentorship")
        a(href="#mentorship") Mentorship
      li(data-menuanchor="register")
        a(href="#register") Register
      li
        a(href="#login") Login
