div.navbar-fixed
  nav
    .nav-wrapper
      img(src="images/logo8.png" width="220px")
      //-a.brand-logo.red-text(href='#!') WDC#09
      a.button-collapse(href='#', data-activates='mobile-demo')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(href="#about") About
        li
          a(href='#speakers') Speakers
        li
          a(href='#program') Program
        li
          a(href='#mentorship') Mentorship
        li
          a(href='#register') Register
        li
          a(href='#login') Login
      ul#mobile-demo.side-nav
        li
          a(href='#about') About
        li
          a(href='#speakers') Speakers
        li
          a(href='#program') Program
        li
          a(href='#mentorship') Mentorship
        li
          a(href='#register') Register
        li
          a(href='mobile.html') Login
