nav
  div.nav-wrapper
    img.brand-logo(src="images/logo1.svg" width="230px")
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a(href="#about") About
      li
        a(href="#speakers") Speakers
      li
        a(href="#program") Program
      li
        a(href="#mentorship") Mentorship
      li
        a(href="#register") Register
      li
        a(href="#login") Login
