div.navbar-fixed
  nav
    .nav-wrapper
      img(src="images/logo8.png" width="220px" class="hide-on-small-only")
      img(src="images/logo8.png" width="190px" class="hide-on-med-and-up")
      //-a.brand-logo.red-text(href='#!') WDC#09
      a.button-collapse(href='#', data-activates='mobile-demo')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a#about-nav About
        li
          a#speakers-nav Speakers
        li
          a#program-nav Program
        li
          a#mentorship-nav Mentorship
        li
          a#register-nav Register
        li
          a#login-nav Login
      ul#mobile-demo.side-nav
        li
          a#about-nav About
        li
          a#speakers-nav Speakers
        li
          a#program-nav Program
        li
          a#mentorship-nav Mentorship
        li
          a#register-nav Register
        li
          a#login-nav Login
