div
  div.ment-head
    div.row
      div.col.m12.l12.s12.color1.center-align
        h2.black-text.headers.program The Program
div.row.program
  div.col.l2.m2.s1
    ul.times
      li
        h4.program-headers TIME
        li
          div.valign-wrapper 10AM
        li
          div.valign-wrapper 11AM
        li
          div.valign-wrapper 12PM
        li
          div.valign-wrapper.lunch 1PM
        li
          div.valign-wrapper 2PM
        li
          div.valign-wrapper 3PM
        li
          div.valign-wrapper 4PM

  div.col.s1.hide-on-med-and-up
  div.col.l5.m5.s5.left-align
    ul#room1
      li
        h4.program-headers ROOM 1
        li
          div.valign-wrapper Hilary Mason:
        li
          div.valign-wrapper Harry: Why PhP is better than ES6
        li
          div.valign-wrapper DT: Angular - The only front end language
        li
          div.valign-wrapper.lunch LUNCH
        li
          div.valign-wrapper Melissa: That's what she said
        li
          div.valign-wrapper Matt J: Ping Pong Etiquette
        li
          div.valign-wrapper Leon Falvey: Geology

  div.col.l5.m5.s5.left-align
    ul#room2
      li
        h4.program-headers ROOM 2
        li
          div.valign-wrapper Kasun: Visual Basic - A Comeback Story
        li
          div.valign-wrapper Douglas Engelbart:
        li
          div.valign-wrapper Bret Victor:
        li
          div.valign-wrapper.lunch LUNCH
        li
          div.valign-wrapper Kerrie Batrouney: Words of Lean
        li
          div.valign-wrapper Catherine: Why women are better coders
        li
          div.valign-wrapper Daphne Koller
