
div.row.container-register.yellow.accent-4
  div.col.s12.m6.l6.register-block
    h2.r-heading.headers Register Here
    form(method="POST" action='/register')
      if error
        div.form-group
          p= error
      div.form-group.row
        div.col.s6.name
          label(for='first-name') First name:
          input#first-name.form-control(type='text', placeholder='First name' name='first_name' value=first_name)
        div.col.s6.name
          label(for='last-name') Last name:
          input#last-name.form-control(type='text', placeholder='Last name' name='last_name' value=last_name)
      div.form-group
        label(for='email') Email:
        input#email.form-control(type='email', placeholder='name@email.com' name='email' value=email)
      div.form-group
        label(for='pw') Password:
        input#pw.form-control(type='password' name='password')
      button.btn.left-align.black-text.btn-flat(type='submit') Register
  div.col.m5.l5.left-align.mentor-block.hide-on-small-only
    h4.headers Interested in mentoring?
    p.r-info We are excited to announce the launch of the WDI-Conf mentorship program. Have you ever wanted to find a mentor but didn't know where to look? Are you looking for a mentor in the industry but outside your workplace? Do you want to help and encourage the new kids on the block? Just sign up for the program when you register!
  div.col.l1.m1
