div.row
  div.col.s12.m12.l12
div.row
  div.col.s12.m12.l12
div.row
  div.col.s12.m12.l12
div.row
  div.col.l1.m1
  div.col.s12.m10.l6
    h2.r-heading Register Here
    form(method="POST" action='/register')
      div.form-group
        label(for='name') Name:
        input#name.form-control(type='text', placeholder='First name/last name' name='name')
      div.form-group
        label(for='email') Email:
        input#email.form-control(type='email', placeholder='name@email.com' name='email')
      div.form-group
        label(for='pw') Password:
        input#pw.form-control(type='password' name='password')
      div.form-group
        label(for='pw2') Confirm Password:
        input#pw2.form-control(type='password' name='confirmPassword')
      div.form-group
        input#check.form-control.filled-in(type='checkbox' name='mentor')
        label(for='mentor') I'm interested in the mentorship program
  div.col.l1.m1
  div.col.s12.m12.l3.left-align.hide-on-small-only
    h5.r-heading-small Interested in mentoring?
    p.r-info We are excited to announce the launch of the WDI-Conf mentorship program. Have you ever wanted to find a mentor but didn't know where to look? Are you looking for a mentor in the industry but outside your workplace? Are you excited about coding, do you want to pass it on? Do you want to help and encourage the new kids on the block? Just sign up for the program when you register!
  div.col.l1
div.row
  div.col.s12.m12.l12
div.row
  div.col.s12.m12.l12
div.row
  div.col.s12.m12.l12
