
.speakers-page
  .speakers-title
    h2.headers Keynote Speakers
  .keynote
    .speaker-empty

    .speaker.right.bg-1
      p Karen Jones
    .speaker-blurb
      p Karen is a Professor of Computers and Information, Cambridge University. During her career in Computer Science, she campaigned hard for more women to enter computing


    .speaker.bg-2
      p Hilary Mason
    .speaker-blurb
      p Hilary makes beautiful things with data. She's the Founder of Fast Forward Labs, a machine intelligence research company, and the Data Scientist in Residence at Accel.

  .keynote2
    .speaker.right.bg-3
      p Daniel Tsui
    .speaker-blurb
      p Daniel is originally from Sydney, but he thinks Melbourne is OK. He is older than he looks and is passionate about teaching and loves to mould young minds.

    .speaker#middle-speaker.bg-4
      p Bret Victor
    .speaker-blurb#lone-blurb
      p Bret is an interface designer, computer scientist, and electrical engineer. He works as a researcher at the Communications Design Group, and is known for his talks on the future of technology.

    .speaker#lone-speaker.right.bg-5
      p Harry Aydin
    .hidden-blurb
      p Harry Aydin

  .keynote3
    .speaker-empty
    .speaker.bg-6
      p Kasun Maldeni
    .speaker-blurb
      p Kasun is a Kiwi who's currently living in Melbourne. I

    .speaker.right.bg-7
      p Daphne Koller
    .speaker-blurb
      p Daphne is a Computer Science Professor at Stanford University. She is also the founder of Coursera, an online education platform. Her general research area is artificial intelligence and its applications in the biomedical sciences.
