
.speakers-page
  .speakers-title
    h2.headers Speakers
  .keynote
    .empty-background
      p Speakers info

    .speaker.right.bg-1
      p Alan Kay
    .speaker-blurb
      p Alan Kay

    .speaker.bg-2
      p Karen Jones
    .speaker-blurb
      p Karen Jones

  .keynote2
    .speaker.right.bg-3
      p Daniel Tsui
    .speaker-blurb
      p Daniel Tsui

    .speaker#middle-speaker.bg-4
      p Bret Victor
    .speaker-blurb#lone-blurb
      p Bret Victor

    .speaker#lone-speaker.right.bg-5
      p Harry Aydin
    .hidden-blurb
      p Harry Aydin

  .keynote3
    .speaker-empty
    .speaker.bg-6
      p Kasun Maldeni
    .speaker-blurb
      p Kasun Maldeni

    .speaker.right.bg-7
      p Daphne Koller
    .speaker-blurb
      p Daphne Koller
