
.speakers-page
  .speakers-title
    h2.headers Keynote Speakers
  .keynote
    .speaker-empty

    .speaker.right.bg-1
      p Alan Kay
    .speaker-blurb
      p Alan Kay - I am a Fellow of the American Academy of Arts & Sciences, National Academy of Engineering, Royal Society of Arts. I am known for pioneering work on object-oriented programming & windowing graphical user interface design.

    .speaker.bg-2
      p Karen Jones
    .speaker-blurb
      p Karen Jones - 1945 - 2007 RIP. Professor of Computers and Information, Cambridge University. During her career in Computer Science, she campaigned hard for more women to enter computing

  .keynote2
    .speaker.right.bg-3
      p Daniel Tsui
    .speaker-blurb
      p Daniel Tsui - I am originally from Sydney, but think Melbourne is OK. I am older than I look and am passionate about teaching and love to mould young minds.

    .speaker#middle-speaker.bg-4
      p Bret Victor
    .speaker-blurb#lone-blurb
      p Bret Victor - I am from California, an interface designer, computer scientist, and electrical engineer. I work as a researcher at the Communications Design Group, and have given a number of talks on the future of technology.

    .speaker#lone-speaker.right.bg-5
      p Harry Aydin
    .hidden-blurb
      p Harry Aydin

  .keynote3
    .speaker-empty
    .speaker.bg-6
      p Kasun Maldeni
    .speaker-blurb
      p Kasun Maldeni - I am a Kiwi who's currently living in Melbourne. I

    .speaker.right.bg-7
      p Daphne Koller
    .speaker-blurb
      p Daphne Koller - I am originally from Jerusalem, Israel. Currently I am the Rajeev Motwani Professor in the Computer Science Department at Stanford University.
