div.intro-head.grey.lighten-4
  div.row
    div.col.s12.center-align.grey.lighten-4
      h5.white-text
  div.row.center-align.grey.lighten-4
    div.col.l3.m6.s12.logo.grey.lighten-4
      img.ga(src="images/ga_logo.png")
    div.col.l3.m6.s12.logo
      img.ga(src="images/slack_logo.png")
    div.col.l3.m6.s12.logo
      img.ga(src="images/trello_logo.png")
    div.col.l3.m6.s12.logo
      img.ga(src="images/Octocat.png")
