div.intro-head.grey.accent-3
  div.row
    div.col.s12.center-align.grey.accent-3
      h5.white-text Sponsored By
  div.row.center-align.grey.accent-3
    div.col.l3.m6.s12.logo.grey.accent-3
      img.ga(src="images/ga_logo.png")
    div.col.l3.m6.s12.logo
      img.ga(src="images/slack_logo.png")
    div.col.l3.m6.s12.logo
      img.ga(src="images/trello_logo.png")
    div.col.l3.m6.s12.logo
      img.ga(src="images/github_logo.png")
