extends layout

block content
  //-section#intro
  //-  include _intro.pug
  //-section#about
  //-  include _about.pug
  //-section#contact
  //-  include _contact.pug
  //- section#speakers
    //- include _speakers.pug
  //-section#program
  //-  include _program.pug
  //-section#mentorship
  //-  include _mentorship.pug
  section#register
    include _register.pug
  //-section#login
  //-  include _login.pug
  //-section#sponsors
  //-  include _sponsors.pug
