extends layout

block content

  section#intro
    include _header.pug
    include _intro.pug
    include _contact.pug  
  section#about
    include _about.pug
  section#speakers
    include _speakers.pug
  section#program
    include _program.pug
  section#mentorship
    include _mentorship.pug
  section#register
    include _register.pug
  section#sponsors
    include _sponsors.pug
