doctype html
html
  head
    include _head.pug
  body
    include _nav.pug
    main
      block content
    footer.grey.lighten-1.center-align
      include _footer.pug
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
    script(src="scripts/jquery.fullPage.js")
    script(src="scripts/display.js")
    block js
    script(src='/scripts/speakers.js')
    script(src='/scripts/locationMap.js')
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCIamQbXXBDpNswS7aBs3MhPx-MApcojfA&callback=initMap')
    script(src='scripts/viewportchecker.js')
    script(src='scripts/scroll.js')
