doctype html
html
  head
    include _head.pug
  body
    include _header.pug
    main
      block content
    footer
      //-include _footer.pug


script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
