extends layout

block content
  section#userDetails.color3.white-text.container
    h2 Your Details
    div.row
      div.col.s4
        p.userContact Your Name: #{first_name} #{last_name}
      div.col.s4
        p.userContact Your Email: #{email}
  section#sessionBookings.white-text.color3.container
    h2 Your Schedule
    div.row
      div.col.s4
        input(type="radio" name="sessionOne" value="" id="one-breakout" checked)
        label(for="one-breakout") Breakout Space
      div.col.s4
        input(type="radio" name="sessionOne" value="one" id="one-one")
        label(for="one-one") Session One
      div.col.s4
        input(type="radio" name="sessionOne" value="two" id="one-two")
        label(for="one-two") Session Two
    div.row
      div.col.s4
        input(type="radio" name="sessionTwo" value="" id="two-breakout" checked)
        label(for="two-breakout") Breakout Space
      div.col.s4
        input(type="radio" name="sessionTwo" value="one" id="two-one")
        label(for="two-one") Session Three
      div.col.s4
        input(type="radio" name="sessionTwo" value="two" id="two-two")
        label(for="two-two") Session Four
    div.row
      div.col.s4
        input(type="radio" name="sessionThree" value="" id="three-breakout" checked)
        label(for="three-breakout") Breakout Space
      div.col.s4
        input(type="radio" name="sessionThree" value="one" id="three-one")
        label(for="three-one") Session Five
      div.col.s4
        input(type="radio" name="sessionThree" value="two" id="three-two")
        label(for="three-two") Session Six
    div.row
      div.col.s4
        input(type="radio" name="sessionFour" value="" id="four-breakout" checked)
        label(for="four-breakout") Breakout Space
      div.col.s4
        input(type="radio" name="sessionFour" value="one" id="four-one")
        label(for="four-one") Session Seven
      div.col.s4
        input(type="radio" name="sessionFour" value="two" id="four-two")
        label(for="four-two") Session Eight
    div.row
      div.col.s4
        input(type="radio" name="sessionFive" value="" id="five-breakout" checked)
        label(for="five-breakout") Breakout Space
      div.col.s4
        input(type="radio" name="sessionFive" value="one" id="five-one")
        label(for="five-one") Session Nine
      div.col.s4
        input(type="radio" name="sessionFive" value="two" id="five-two")
        label(for="five-two") Session Ten
    div.row
      div.col.s4
        input(type="radio" name="sessionSix" value="" id="six-breakout" checked)
        label(for="six-breakout") Breakout Space
      div.col.s4
        input(type="radio" name="sessionSix" value="one" id="six-one")
        label(for="six-one") Session Eleven
      div.col.s4
        input(type="radio" name="sessionSix" value="two" id="six-two")
        label(for="six-two") Session Twelve
  section#mentorship.white-text.color3.container
    h2 Mentoring Program
    div.row
      div.col.s6.input-field
        p.mentStyle I'd like to provide mentoring in:
        select(name="mentoring")
          option(value="") None
          option(value="General") General Advice
          option(value="Android") Android
          option(value="Angular") Angular
          option(value="C-sharp") C#
          option(value="iOS") iOS
          option(value="Java") Java
          option(value="JavaScript") JavaScript
          option(value="LAMP") LAMP Stack
          option(value="MEAN") MEAN Stack
          option(value="NodeJS") Node.js
          option(value="PHP") PHP
          option(value="Python") Python
          option(value="React") React
          option(value="SQL") SQL
          option(value="Swift") Swift
          option(value="Wordpress") WordPress
          option(value="design") Design
          option(value="analytics") Data Analytics
          option(value="ux") User Experience
          option(value="careers") Career Development
      div.col.s6.input-field
        p.mentStyle I'd like to receive mentoring in:
        select(name="learning")
          option(value="") None
          option(value="General") General Mentoring
          option(value="Android") Android
          option(value="Angular") Angular
          option(value="C-sharp") C#
          option(value="iOS") iOS
          option(value="Java") Java
          option(value="JavaScript") JavaScript
          option(value="LAMP") LAMP Stack
          option(value="MEAN") MEAN Stack
          option(value="NodeJS") Node.js
          option(value="PHP") PHP
          option(value="Python") Python
          option(value="React") React
          option(value="SQL") SQL
          option(value="Swift") Swift
          option(value="Wordpress") WordPress
          option(value="design") Design
          option(value="analytics") Data Analytics
          option(value="ux") User Experience
          option(value="careers") Career Development

block js
  script(src="/scripts/dashboard.js")
