#about {
}

.about-title {
  margin-top: 5em;
}

#about {
  height: 110vh;
}

#map {
  height: 300px;
  width: 100%;
}

blockquote::first-letter {
  font-size: 200%;
}

@media (max-width: 800px) {

  #about {
    height: auto;
  }


  .about-location h5 {
    font-size: 2em;
  }

  #map {
    margin-bottom: 2em;
    height: 200px;
  }

  .about-title h3 {
    font-size: 2em;
  }


}
