
.about-title {
  margin-top: 5em;
}
#about {
  height: 100vh;
  padding-top:3%;
  background-color: white;
}

#map {
  height: 300px;
  width: 100%;
}

blockquote::first-letter {
  font-size: 200%;
}

/*-----------------------------------*/

@media (max-width: 700px) {

  #about {
    height: auto;
  }


  .about-location h5 {
    font-size: 2em;
  }

  #map {
    margin-bottom: 2em;
    height: 230px;
  }

  .about-title h3 {
    font-size: 2em;
  }


}
