.r-heading{
  text-align: left;
  margin:0;
  margin-bottom: 5%;
}

.btn-primary{
  margin-top: 5%;
}
.container-register {
  padding-top: 2em;
}

.nav-wrapper{
  background-color: lightgray !important;
}

.r-info{
  line-height: 2.8em;
}

.r-heading{
  margin-bottom: 5%;
}

.r-heading-small{
  margin-bottom: 6%;
}

/*NAV WRAPPER*/
