body{
  background-color:#f4f5f7;
}

.headers{
  font-family: 'Inconsolata', monospace;
  padding:10px;
}

/*Register Page*/


.r-heading{
  text-align: left;
  margin-bottom: 5%;
  margin-top: 0 !important;
}

.btn-primary{
  margin-top: 5%;
}
.container-register {
  padding-top: 2em;
  margin-bottom: 0 !important;
  padding: 4%;
}

.container-login{
  padding: 2% 4% 5%;
}

.r-info{
  line-height: 2.8em;
  font-size: 1em !important;
}
.r-heading-small{
  margin-top: 0 !important;
}

/*NAV WRAPPER*/


#sidenav-overlay{
  z-index: 988 !important;
}

.nav-wrapper{
  background-color: lightgray !important;
}

.parallax-container {
    height: 400px !important;
}

.tag{
  background-color: #e8e73d;
  padding:25px 5px 5px !important;
}

li a{
  color: #414244 !important;
}

li a:hover{
  color:white!important;
}

@media (max-width: 700px) {

  #nav-logo {
    width: 210px;
    height: 100%;
  }

}

/*MAIN HEADING*/

.hidden{
  display: none;
}

/*FOOTER*/

.row{
  margin:0 !important;
}

/*PROGRAM*/

.program{
  padding:20px;
  padding-top: 20px;
}

.program-headers{
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
}


.bold{
  font-weight:bold;
}

.times{
  margin-left:10px;
}

.times li div{
  font-size: 75px;
  min-height: 125px;
  max-height: 125px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  background-color: white;
  max-width: 90px;
}

.times h4, #room2 h4, #room1 h4{
  margin-top:40px;
}

#room1 li, #room2 li  {
  opacity:0;
  margin:28px 15px;
}

#room2 div, #room1 div{
  min-height: 98px;
  max-height: 98px;
  font-size: 1.4em;
  font-family: 'Inconsolata', monospace;
  background-color: white;
}

#room1 div {
  color:blue;
  padding:20px 20px;
  margin:0;
}

#room2 div {
  color:#f76262;
  padding:20px 20px;
  margin:0;
}


.lunch{
  color:black !important;
}


@media only screen and (max-width: 992px){
  .times li div{
    font-size: 45px;
  }

  #room2 div, #room1 div{
    min-height: 108px;
  }

  #room1 li, #room2 li  {
    opacity:0;
    margin:18px 5px;
  }
}

@media only screen and (max-width: 600px){
  .program{
    padding:20px;
    padding-top: 20px;
  }

  .times li div{
    font-size: 25px;
    margin:0%;
    color:black;
    min-width: 30px;
  }

  #room1 div, #room2 div{
    margin:0;
    text-align: left;
    line-height: .8em;
    font-size: 1.2em;
    padding:10px;
  }

  #room1, #room2{
    margin:0;
  }
}
