
/*styling for intro*/
.header-wrapper {
  height: 100% !important;
}

/*font-family: 'Slabo 27px', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Roboto Mono', monospace;
font-family: 'Playfair Display', serif;*/

/*header*/
.header {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40vh !important;

}
.title {
  height: 100%;
  width: 100%;
  color: white;
  font-size: 6em;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}

.tagline {
  color: white;
  font-size: 4em;
  font-family: 'Roboto Mono', monospace;
}

.logo-large{
  width:950px;
  position:absolute;
  z-index: 990;
  left:50%;
  top:50%;
  margin-top: -200px; /* Half the height */
  margin-left: -475px; /* Half the width */
}

.bwphoto{
  position:relative;
  height:900px;
}

.bwphoto-container{
  height: 900px;
  width: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 992px){
  .logo-large{
    width:700px;
    margin-top: -225px; /* Half the height */
    margin-left: -350px; /* Half the width */
  }
}

@media only screen and (max-width: 600px){
  .logo-large{
    width:350px;
    position:absolute;
    z-index: 990;
    left:10%;
    top:27%;
  }
  .ment-menu {
    font-size: 1em;
    margin-left: 0.5em !important;
    margin-right: 0 !important;
  }
}


/*footer*/
.footer {
  text-align: center;
  color: black;
}
.crown {
  width: 40px;
  height: 40px;
}

/*contact*/
.contact {
  background-color: pink;
  padding-bottom: 1em;
  padding-top: 1em;
  font-size: 1.2em;
}

.fb{
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.social {
  height: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden; /* This will do the magic */
  width: 2em;
}


/*sponsors*/
.logo {
  height: 10em;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 8em;
}
.ga {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
.intro-head {
  padding-bottom: 1em;
}


/*styling for mentorship*/

.mentor{
  background-color: #e8e73d;
}

.ment-menu {
  font-size: 1.3em;
  margin-left: 2em !important;
  margin-right: 4em !important;
}
.mentor-deets{
  font-size: 0.9em !important;
}
.mentor {
  color: maroon;
}
.ment-type {
  padding: 2rem;
}
.ment-blurb {
  font-size: 1.8em;
  line-height: 2em;
}
/*
color4 light grey #e0e0e0
color3 dark grey #bdbdbd
color1 main yellow #e8e73d
color2 light yellow #f1f07c
color5 accent blue #68cbe1
yellow #e8e73d*/

.color4 {
  background-color: #e0e0e0 !important;
}
.color3 {
  background-color: #bdbdbd !important;

}
.color1 {
  background-color: #e8e73d !important;
}
.color2 {
  background-color: #f1f07c !important;
}
.color5 {
  background-color: #68cbe1 !important;
}

/*styling for login*/
.form-control {
  margin-bottom: 10px !important;
  height:2rem !important;
}
.container-login {
  background-color: #e8e73d !important
}

/*styling for register*/
.container-register {
  background-color: #e8e73d !important
}
.register-block {
  padding-left: 3em !important;
}
.mentor-block {
  padding-right: 3em !important;
}
.login-block {
  padding-left: 3em !important;
}
.btn-flat {
  margin-left: 0 !important;
  padding: 0 !important;
}
.name {
  padding-left: 0 !important;
}
/*styling for dashboard*/
#mentorship {

}
.userContact {
  font-size: 1.8em;
}
.mentStyle {
  font-size: 1.4em;
}
label {
  font-size: 1.4em !important;
  color: black !important;
}
