@import "speakers.css";
@import "speaker_photos.css";
@import "speakers_@700.css";
@import "about.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
blockquote {
  border-left: 5px solid #68cbe1 !important;
}

#nav-logo:hover {
  cursor: pointer;
}
