
.speakers-page {
  height: 110vh;
  overflow: scroll;
  background-image: url('../images/background_circle.svg');
  background-size: 20px 20px;
}

.keynote, .keynote2, .keynote3 {
  display: flex;
  justify-content: center;
}

.otherSpeakers {
  display: flex;
  flex-wrap: wrap;
}

.speakers-title {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.speaker-blurb {
  visibility: hidden;
  opacity: 0;
  background-color: white;
}

.speaker-blurb, .speaker-empty {
  display: flex;
  justify-content: center;
  position: relative;
  height: 14em;
  width: 14em;
  overflow: hidden;
  padding: .5em;

  /*------TRANSITIONS--------*/
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
}

.speaker-blurb p {
  color: orange;
  margin: 0;
}

.speaker-empty p {
  margin: 0;
}

.speaker {
  /*------DISPLAY------*/
  display: flex;
  justify-content: center;
  position: relative;
  height: 14em;
  width: 14em;
  overflow: hidden;
  padding: .5em;
  border: 1px solid black;


  /*------BACKGROUND-------*/
  background-image: url(https://organicthemes.com/demo/profile/files/2012/12/profile_img.png);
  background-size: cover;
  /*background-blend-mode: saturation;*/

  /*------TRANSITIONS--------*/
  transition: all .1s ease;
  -webkit-transition: all .1s ease;
}

.speaker p {
  color: snow;
  position: absolute;
  display: block;
  bottom: -3em;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.speaker:hover {
  background-color: orange;
  background-blend-mode: luminosity;
}

.speaker:hover p {
  bottom: 0em;
}

.speaker:hover + .speaker-blurb{
  visibility: visible;
  opacity: 1;
}
